<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilosTabla.css">
    <title>editarUsuario</title>
</head>
<body>

    <br><a class="btn" href="./index.html">Regresar</a> <br> <br>

    <form>

        <label for="nombre">Ingrese su nombre</label>
        <input id="nombre" type="text"> <br> <br>

        <label for="apellido">Ingrese su apellido</label>
        <input id="apellido" type="text"> <br> <br>

        <label for="">selecione su ciudad</label>
        <select name="" id="ciudades">
            <option value="Manizales">Manizales</option>
            <option value="Medellin">Medellin</option>
            <option value="Bogota">Bogota</option>
        </select> <br><br>

        <button type="button" class="btn" id="editarUsuario" >editar</button>

    </form>



    <script src="../js/putUsuarios.js"></script>

    
</body>
</html>