<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/estilosTabla.css">
    
    <title>tabla usuarios</title>
</head>
<body>
    

     <!-- DESPUES EXPLICAR MOSTRANDO CON TABLA PASO 2  -->

     <br><a class="btn" href="./crearUsuario.html" >Registrar usuario</a> <br><br>

     <table border="1" class="table"  id="idtabla">
        <thead>
            <tr>
                <th class="text-center" >ID</th>
                <th class="text-center" >Nombre</th>
                <th class="text-center" >APELLIDO</th>
                <th class="text-center" >CIUDAD</th>
                <th colspan="2" class="text-center" >OPERACIONES</th>
            </tr>
        </thead>

        <tbody id="cuerpoTabla">
           
        </tbody>
        
    </table> 


    <!-- PRIMERO EXPLICAR MOSTRANDO LA INFORMACION SIN TABLA PASO 1 -->
    <script src="../js/getUsuarios.js"></script>
    
</body>
</html>